<!DOCTYPE html>
<html>

<head>
    <title>
        Todo Lists
    </title>

<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</head>

</html>
