<!DOCTYPE html>
<html>

<head>
    <title>
        {{ detail_object.name }}
    </title>

<body>
    <main>
        <div>
            <h1>{{ detail_object.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' detail_object.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_item_update' detail_object.id %}">Update Item</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' detail_object.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>
                        Task
                    </th>
                    <th>
                        Due date
                    </th>
                </tr>
            </table>
            <table>
                {% for items in detail_object.items.all %}
                <tr>
                    <td>{{ items.task }}</td>
                    <td>{{ items.due_date|date:"M j, Y"}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</head>

</html>
